extends layout

block content
  .container.content
    a#add-link.anchor
    form(action='/', method='post')
      h2 Add Shortlink
      .input-group.input-group-lg
        span#input-addon-shortlink.input-group-addon go/
        input.form-control(
          type='text',
          name='slug',
          placeholder='shortlink',
          required,
          pattern='\\w+',
          minlength='2',
          maxlength='20',
          aria-describedby='input-addon-shortlink'
        )
      p Redirects to:
      .input-group.input-group-lg
        input.form-control(
          type='url',
          name='url',
          placeholder='http://www.example.com/',
          required
        )
        span.input-group-btn
          button.btn.btn-primary(type='submit') Create

  .container: hr

  .container.content
    a#current-links.anchor
    h2 Current Shortlinks

    if links.length
      table.table.current-links-table
        thead
          tr
            th.shortlink Shortlink
            th.redirects-to Redirects To
            th.actions Actions
        tbody
          each link in links
            tr
              td.shortlink: a(href='/' + link.slug) #{link.slug}
              td.redirects-to: a(href=link.urls[0].url) #{link.urls[0].url}
              td.actions
                a.btn.btn-xs.btn-default(href='/' + link.slug + '/stats')
                  span.glyphicon.glyphicon-stats
                  |  Stats
                =' '
                a.btn.btn-xs.btn-default(href='/' + link.slug + '/edit')
                  span.glyphicon.glyphicon-edit
                  |  Edit
    else
      p No shortlinks yet!
