doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=egde')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='shortcut icon', href='/images/goslash.png')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(
            type='button',
            data-toggle='collapse',
            data-target='#navbar',
            aria-expanded='false',
            aria-controls='navbar'
          )
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(alt='goslash', src='/images/goslash.png')
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li: a(href='/#current-links') Links
            li: a(href='/#add-link') Add Link
            li: a(href=packageJson.repository.url, target='_blank') Contribute

    block header

    if alert
      .container.content
        .alert(class='alert-' + alert.type, role='alert') !{alert.message}

    block content

    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    script(src='/javascripts/goslash.js')
